# Maven / Java
target/
*.class
*.jar
*.war
*.ear

# Local runtime data
data/
*.log

# IDE files
.idea/
*.iml
.vscode/

# OS files
.DS_Store

# Spring Boot / temp
.mvn/wrapper/maven-wrapper.jar
out/
tmp/
